@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.content {
  padding: 36px 0;

}

.content b {
  margin-bottom: 10px;
  font-weight: 500;
}

.content p {
  margin-bottom: 10px;
}

.content h1 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 26px;
}

.content h2 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
}

.content h1 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}

body {
  background-color: #f9f9f9;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}